        
        /* Critical CSS inlined for fast initial rendering */
        body {
            font-family: 'Roboto', sans-serif;
            /* background-color: ; */
            /* text-transform: capitalize; */
            font-size:16px;
        }

        html {
            scroll-behavior: smooth; /* Enable smooth scrolling */
            scroll-padding:10px ;
        }
        
         .navbar-custom {
            background-color: #3b5998 !important; /* Updated to a blue color */
        }
        .navbar-custom .navbar-brand,
        .navbar-custom .navbar-nav .nav-link {
            color: #fff; /* White text color */
        }

        header { user-select: none; overflow: hidden;}
        header nav { text-transform: capitalize; }
        
        main h1 { font-size:2.25rem ; }
        main h2 { font-size:1.875rem ; margin: 15px 0px;}
        main h3 { font-size:1.5rem; margin: 15px 0px;}
        main h4 { font-size:1.25rem; }
        main h5 { font-size:1.125rem; }
        main h6 { font-size:1rem; }
        main p  { font-size:1rem ; }

        /* Main content styles */
        main {
            padding: 20px;
        }

        time {
            border-top:2px solid #f9f9f9; 
            border-bottom:2px solid #f9f9f9;
            padding: 0px 0px;
            width: 100%;
         }

        img { 
            width: 100%; /* or max-width: 100%; */
            height: auto;
            user-select: none;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 20px;
        }
                     /* this is section */
        article section { margin:0px 0px 40px 0px;  }
        article section img { border-radius:6px; }
        
        @media (min-width: 768px) {
            .grid-container {
                grid-template-columns: repeat(2, 1fr);
            }
        }


        /* Sidebar styles */
        aside {
            margin-top: 0px;
            user-select: none;
            text-transform: capitalize;
        }

        /* Footer styles */
        footer {
            user-select: none;
            padding: 20px;
            text-align: center;
            color: #ffffff; /* White text color */
            overflow: hidden;
        }

        footer a {
            text-decoration: none;
            color: #ffffff;
         }
         footer a:hover {
            text-decoration: none;
            color: #ffffff;
         }
        footer .social-icons i {
              font-size: 24px;
            margin-right: 10px;

        }
        footer .list-unstyled li {
             margin:15px 0px;
        }

                    /* SOCIAL SHARE BUTTONS */
         .social-icons i {
              font-size: 16px;
              user-select: none;
        }
    .social-icons button {
             margin: 5px 5px 8px 0px;
             user-select: none;
       }


                  /* ASIDE BAR SECTION CSS */
    
    .related-post {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      border-bottom: 1px solid #eaeaea;
      padding: 0px 0px 15px 0px;
      text-decoration: none;
      color: inherit;
      overflow: hidden;
    }
    .related-post img {
      min-width: 100px;
      max-width: 100px;
      height: 60px;
      object-fit: cover;
      margin-right: 15px;
      border-radius: 4px;
    }
     .related-post p {
      flex: 1;
      margin: 0;
      font-size: 15px;
      color: #333;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
    .related-post:hover {
      background-color: #f8f9fa;
      color: inherit;
      text-decoration: none;
    }



             /* explore more bottom border */ 
    .rec {     
         border-bottom:2px solid #0C1618;
         margin-bottom: 20px;
          }
    .rec h4 { 
        background-color: #0C1618;
        color: #ffffff;
        margin: 0;
        padding: 5px 15px;
        display: inline-block;
        font-size: 1.20rem;
        text-transform:capitalize;
    }



      /* GO TO TOP BUTTON CSS */
    #topButton {
            display: none; /* Hidden by default */
            position: fixed; /* Fixed/sticky position */
            bottom: 10px; /* Place the button at the bottom of the page */
            right: 10px; /* Place the button 30px from the right */
            z-index: 999; /* Make sure it does not overlap */
            border: none; /* Remove borders */
            outline: none; /* Remove outline */
            background-color: #673AB7; /* Set the background color */
            color: white; /* Set the text color */
            cursor: pointer; /* Add a mouse pointer on hover */
            padding: 10px 13px; /* Some padding */
            border-radius: 50%; /* Rounded corners */
            box-shadow: 0px 4px 8px rgba(0,0,0,0.2); /* Add a shadow for better visual */
        }

        #topButton i {
            font-size: 18px; /* Increase icon size */
        }



                    /* related post section */
        .share-this { 
               border-top:2px solid #f9f9f9; 
               border-bottom:2px solid #f9f9f9; 
               padding: 10px 0px;
               user-select: none;
            }
       .share-this .share-icons button {
            border: none;
            background: #f0f0f0;
            margin: 5px;
            border-radius: 50%;
       }
        

          /* related postS H4 HEADING section */
        .relpost {
            border-left: 3px solid #F71735;
            padding-left: 5px;
            border-radius: 0px;
            margin-bottom: 15px;
        }       



        @media only screen and (max-width: 860px) {
      body {
            font-family: 'Roboto', sans-serif;
            /* background-color: ; */
            /* text-transform: capitalize; */
            font-size:15px;
        }
      main h1 {
        font-size: 28px;
      }
      main h2 {
        font-size: 24px;
      }
      main h3 {
        font-size: 20px;
      }
      main h4 {
        font-size: 18px;
      }
      main h5 {
        font-size: 16px;
      }
      main h6 {
        font-size: 15px;
      }
      main p {
        font-size: 15px;
      }
    }   
    
    
    
    
    
     strong {
        font-size: 16px;
        font-weight: 550;
     }


    article ol li {
        padding: 4px 2px;
        margin: 5px 0px;
    }

    article ul li {
        padding: 4px 2px;
        margin: 5px 0px;
    }
    
    
    
    
    
    /*  Table of Contents CSS */
    
       .toc-container {
            border: 1px solid #ddd;
            border-radius: 8px;
            max-width: 660px;
            margin: 0px auto;
            background-color: #fff;
            user-select: none;
        }
        .toc-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            background-color: #f1f1f1;
            cursor: pointer;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        .toc-header h2 {
            margin: 0;
            font-size: 18px;
            display: flex;
            align-items: center;
        }
        .toc-header i {
            font-size: 24px;
        }
        .toc-content {
            padding: 15px;
            display: none;
        }
        .toc-content ol {
            padding-left: 20px;
            margin: 0;
        }
        .toc-content ol li {
            margin-bottom: 6px;
            font-size: 15px; /* Adjust the value as per your design */
        }
        .toc-content ol li a {
            text-decoration: none;
            color: #000000;
            font-size: 15px; /* Adjust the value as per your design */
        }
        
        
        
        /* FAQs section CSS */

      .faqcontainer {
            max-width: 800px;
            margin-bottom: 40px;
        }
       .faqcontainer h2 {
            color: #333;
        }
    .faq-question {
            cursor: pointer;
            margin-bottom: 10px;
            padding: 15px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            background-color: #f3f3f3;
            color: #000;
            transition: background-color 0.3s ease;
            user-select: none;
        }
        .faq-answer {
            display: none;
            margin-bottom: 20px;
            padding: 15px;
            border-left: 3px solid #007bff;
            background-color: #f8f9fa;
            border-radius: 5px;
        }
        .faq-icon-toggle {
            margin-left: auto;
            transition: transform 0.3s ease;
        }
        .collapsed .faq-icon-toggle {
            transform: rotate(0deg);
        }
        .faq-question:not(.collapsed) .faq-icon-toggle {
            transform: rotate(180deg);
        }
    
    
    
    
    
    
    
    
    
    
    
    


